<div class= "col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://zacharybell.netlify.com">Zachary Bell</a>, a web developer who is passionate about helping people realize their dreams. He is an avid traveler who likes to code from the road and loves to teach people to do the same.
  </p>
  <br />
  <p>
    Zachary built Splurty as part of a coding bootcamp to hone his skills in Ruby on Rails. If you would like more information on coding bootcamps please visit:
  </p>
  <p>
    <a target="_blank" href="https://online.bootcampspot.com">Bootcamp Spot</a>
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Zachary Bell</h2>
      <br />
      <p>Zachary Bell is a web developer with enigmatic interests. With a backround in finance and insurance, Zachary has a passion for investing and trading options. He is also a musician and artist, who plays guitar and drums and is an amateur potter.</p>
      
    </div>

  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />